<div id="sidebar">
  <!-- <div id ='box'><img alt ='home' decoding="home"></div>
  <div id ='box'><img alt='slide' decoding="slide"></div> -->
</div>

<div id="main">
    <div id="name">I'm Logo Olagoke.</div>
    <p class="center paragraphSpaceVertically" >Frontend and Backend Web Developer</p>
    <!-- <div class="image">
        
    </div> -->
    <h2 id="line" class="header line">My Projects</h2>
    <div class="projects">
      <!-- <p id ="p" class="center">Scroll to the right to view more</p> -->
      <div class="slide">
        <div id="project" style="left: 0;" >
          <div id="contain">
            <iframe src="https://oluwalogoye.github.io/clothmall/" frameborder="0"></iframe>
          </div>
          <a id="description" class="singleContentCenteredFlex" href ="https://oluwalogoye.github.io/clothmall/">An online store</a>
        </div>
        <div id="project"style="left: 30%;"  >
          <div id="contain">
            <iframe src="https://oluwalogoye.github.io/foodmall/" frameborder="0"></iframe>
          </div>
          <a id="description" class="singleContentCenteredFlex" href ="https://oluwalogoye.github.io/foodmall/"> A resturant's website</a>
        </div>
        <div id="project" style="left: 60%;"  >
          <div id="contain">
            <iframe src="https://oluwalogoye.github.io/railgallery/" frameborder="0"></iframe>
          </div>
          <a id="description" class="singleContentCenteredFlex" href="https://oluwalogoye.github.io/railgallery/"> A multi-purpose cloud storage gallery</a>
        </div>
        
      </div>
    </div>
    <p>&nbsp;</p>
    <h2 id="line skill" class ="line header paragraphSpaceVertically">My Skills</h2>

    <div id="contain">

      <h2 id="skill" class ="header2 paragraphSpaceVertically">Programming Languages</h2>
    <h4>HTML, SCSS, JavaScript</h4>
    <div id="skillBar"><div id="percent" style="width: 70%"></div></div>
    <h4>TypeScript</h4>
    <div id="skillBar"><div id="percent" style="width: 90%"></div></div>
    <h4>Java</h4>
    <div id="skillBar"><div id="percent"style="width: 80%"></div></div>
    <h4>C#</h4>
    <div id="skillBar"><div id="percent" style="width: 70%"></div></div>
    <h4>jQuery</h4>
    <div id="skillBar"><div id="percent" style="width: 90%"></div></div>
    <h4>Express.js</h4>
    <div id="skillBar"><div id="percent" style="width: 70%"></div></div>

    <h2 id="skill" class ="header2 paragraphSpaceVertically">Frameworks</h2>
    <h4>Angular 6,7,8</h4>
    <div id="skillBar"><div id="percent" style="width: 80%"></div></div>

    <h2 id="skill" class ="header2 paragraphSpaceVertically">Other</h2>
    <h4>Mongo DB</h4>
    <div id="skillBar"><div id="percent" style="width: 60%"></div></div>
    <h4>SQL</h4>
    <div id="skillBar"><div id="percent" style="width: 40%"></div></div>
    <h4>REST APIs</h4>
    <div id="skillBar"><div id="percent" style="width: 90%"></div></div>
    </div>
    
    <p>&nbsp;</p>
    <h2 id="line" class ="line header" >About me</h2>
    <p id="describe">I'm Logo Olagoke. Developing software is my greatest hobby. I love to build web applications using my knowledge of languages including Javascript, HTML5, TypeScript, Java, C#, and jQuery. I have used frameworks including Angular 5, Angular 6,and Angular 7 to build most of my web applications. I have some experience with Python as an assistant in a Cyber Security defence project. I’m also proficient in back-end web development: I have utilized my knowledge of Node.js, the Express framework, Mongo DB and some other dependencies to build RESTful APIs for some of my applications. I love to take on new responsibilities and challenges, and I love to learn new language and frameworks, utilizing my knowledge of them to simulate a project or utilize the logic behind existing projects to create mine. 
    </p>
    <p>&nbsp;</p>


</div>